.inp-Form {
  margin-top: 20px;
}

.inp-field {
  text-align: center;
  border-radius: 1.5rem;
  letter-spacing: 10px;
  font-weight: bolder;
  width: 100%;
}

.inp-button {
  width: 80%;
  margin-top: 0.5rem;
  margin-left: 10%;
  border-radius: 1.5rem;
}

.inp-hint {
  margin-top: 10px;
  letter-spacing: 10px;
  font-weight: bolder;
  text-align: center;
}

.welcome-note {
    text-align: center;
    font-weight: 600;
}
