.navbar {
  height: 60px;
  margin-bottom: 2px;
}

.app-logo {
  height: 150px;
  width: 150px;
}

.title {
  white-space: nowrap;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #006aae;
  //   padding-left: 20%;
}
