// Colors
$card-bg: #e3f5fd;
$card-rw: white;
$text-clr: black;
$app-bg: #f5f5f5;

// Spaces rem's
$xs-size: 14px;
$s-size: 16px;
$ms-size: 18px;
$m-size: 3.2rem;
$l-size: 4.8rem;
$desktop-breakpoint: 45rem;


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}